/* Modified from http://oscargodson.com */

@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);


.clear { clear: both; }

body {
  font-family: 'Vollkorn', Helvetica, arial, sans-serif;
  line-height: 1.7;
  font-size: 18px;
  color: #222;
  margin: 0;
}
h1, h2, h3 {
  font-weight: normal;
}
a img {
  border: 0;
}
#wrapper {
  background: #fcfcfc;
  padding: 0 30px;
}
#main-nav {
  background: #f6f6f6;
  padding: 12px;
  font-size: 15px;
}
#main-nav h1 {
  margin: 0;
  width: 25%;
  float: left;
  font-size: 15px;
}
#main-nav ul {
  float: right;
  margin: 0;
  padding: 0;
}
#main-nav li {
  display: block;
  float: left;
  margin-left: 15px;
}
#main-nav li:hover {
}
#main-nav a {
  color: #222;
  text-decoration: none;
}
#big-image {
  height: 250px;
  overflow: hidden;
}
#big-image img {
  position: relative;
  top: -25px;
}
.article-list {
  list-style: disc;
  margin: 0;
  padding-left: 0;
}
.article-list li {
  padding-bottom: 10px;
}
.content {
  max-width: 700px;
  margin: 0 auto;
  padding:32px 0 50px;
}
.content h1:first-child {
  margin-top: 0;
}
.content h1 {
  font-size: 40px;
  line-height: 1.5;
}
.content .logo-wrapper {
  height: 180px;
  margin: 20px 0;
}
.content .logo {
  font-family: 'Milonga', courier new, courier, monospace;
  background: #f3f3f3;
  border-radius: 50%;
  width: 80px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  transform: scale(3);
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  margin-bottom: 20px;
  line-height: 120%;
  position: relative;
  top: 40px;
}
.content img {
  max-width: 700px;
}
footer {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
}
footer p {
  text-align: center;
  font-size: 14px;
}
footer .icons {
  position: relative;
  top: 3px;
  left: 5px;
}
pre {
  display: block;
  padding: 10px;
  background: #272822;
  color: #ddd;
  overflow: auto;
  font-size: 15px;
}
pre .constant {
  color:#66d9ef;
}
blockquote {
  background: #f6f6f6;
  padding: 1px 15px;
}

@media only screen
and (max-device-width : 960px) {
  #big-image {
    height: 125px;
  }
  .content h1 {
    font-size: 30px;
  }
  .content h2 {
    font-size: 25px;
  }
}

/* Changes */

pre, code {
    white-space: pre-wrap;
}

.post { white-space : pre }

#search {
    display: inline;
    padding-left: 1.5em;
}

#search {
  float: right;
}

#search input {
    font-size: 0.9em;
}

